@charset "utf-8";
/* CSS Document */

body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #333;
  font-family: sans-serif;
  padding: 2em;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

header, footer {
  background-color: #f5f5f5;
  text-align: center;
  padding: 1em;
  margin-bottom: 2em;
  font-weight: bold;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 2em;
}

span {
	color: #ff6600;
}

h2 {
  font-size: 1.5em;
  color: #1a103d;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.3em;
}

section {
  margin-bottom: 2em;
}

h3{
	border-bottom: 2px solid #ccc;
    padding-bottom: 0.3em;
}

code {
  background-color: #f4f4f4;
  padding: 2px 6px;
  font-family: "Courier New", monospace;
  border-radius: 4px;
  color: black;
  border: 1px solid #e0e0e0;
  font-size: 0.95em;
}

