@charset "utf-8";
/* CSS Document */

body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #333;
  font-family: sans-serif;
  padding: 2em;
}

header, footer {
  background-color: #eeeeee;
  text-align: center;
  padding: 1em;
  margin-bottom: 2em;
}

h1 {
  font-size: 2em;
  color: #007acc;
}

h2 {
  font-size: 1.5em;
  color: #005999;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.3em;
}

section {
  margin-bottom: 2em;
}
